@charset "UTF-8";
/* cores
    #8C5A04 marrom
    #FFB026 amarelin
    #D98D0B amarelo
    #04478F azul escuro
    #388AE0 azul claro
*/

body {
    background-image: linear-gradient(to right, #fcb1119d, #af78198f);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    background-color: white;
    width: auto;
    border-radius: 10px;
    padding: 10px;
    margin: 0px 50px 0px 50px;
}
h1 {
    color: #04478F;
    font-size: 28pt;
    text-shadow: 1px 1px 3px #032c58;
    text-align: center;
}

h2 {
    color: #388AE0;
}

p {
    text-align: justify;
}